<body>
  <h1>testing</h1>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

  let data = {
    "packageType": "RPCRequest",
    "serviceName": "WebAPI.Test.HttpCore",
    "reqId": "wfC93HmVPK2Y6bc",
    "action": "MagicTestAction",
    "data": {
      "someMsg": "Hello World, Zayni Framework!!",
      "someDate": "2019-04-27 23:47:02.037",
      "magicNumber": 773.124,
      "luckyNumber": 5278,
      "isSuperXMan": true
    },
    "reqTime": "2019-04-19 15:43:38.883"
  }

  axios
    .post( 'http://localhost:5100/action', data )
    .then( res => {
      console.log( res )
      document.querySelector( 'h1' ).innerText = 'success'
    } )
    .catch( res => {
      document.querySelector( 'h1' ).innerText = 'failed'
    } );
</script>